.all_theme {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.modify_delete {
    position: relative;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 20%;
    height: 30%;
    margin-right: 2%;
}

.theme {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);

}

.modify_delete:hover .theme_image {
    opacity: 0.3;
}

.theme_image {
    position: relative;
    width: 100%;
    grid-row-start: 1;
    grid-column-start: 1;
    transition: opacity 0.5s ease;
}

h3 {
    position: relative;
    top: 20%;
    height: 10%;
    font-weight: 700;
    font-size: 2vw;
    text-align: center;
    text-transform: uppercase;
    color: white;
    transition: top .5s ease, color .5s ease;
    grid-row-start: 1;
    grid-column-start: 1;
}

.modify_delete:hover h3 {
    top: 0;
    color: var(--dark-grey);
}

.form_div {
    position: relative;
    width: 100%;
    top: 40%;
    height: 60%;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
    grid-row-start: 1;
    grid-column-start: 1;
}

.modify input {
    width: 80%;
    padding: 6% 6%;
    text-align: center;
    font-size: 1vw;
    color: var(--white);
    background-color: var(--black);
    border: solid 2px white;
    margin-bottom: 10%;
    cursor: pointer;
}

.delete input{
    width: 80%;
    padding: 6% 6%;
    text-align: center;
    font-size: 1vw;
    color: var(--white);
    background-color: var(--red);
    border: solid 2px var(--black);
    margin-bottom: 10%;
    cursor: pointer;

}

.modify_delete:hover .form_div {
    opacity: 1;
}

/**********************************************************************************************************************/
.test {
    width: 80%;
    padding: 99%;
    background-color: blue;
    color: var(--white);
    background-color: var(--red);
    border: solid 2px var(--black);
}


.test form input {
    display: block;
    width: 100%;
    height: 100%;
    padding: 6% 6%;
    text-align: center;
    font-size: 1vw;
    color: var(--white);
    background-color: var(--red);
    border: solid 2px var(--black);
}