#game {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

#terminal {
    background-color: var(--black);
    color: var(--white);
    height: 100%;
    max-height: 42vh;
    max-width: 83vh;
    padding: 0.5em 1em 1.5em 0.5em;
    margin: 0;
}

#terminal-input{
    color: white;
    border: none;
    background-color: transparent;
    padding: 0;
    position: absolute;
    bottom: 0;
    margin: 0;
    left: 6em;
    width: 15em;
    font-size: initial;
}

#terminal-input:focus-visible {
    outline: 0;
}

#terminal-input-text{
    color: white;
    border: none;
    background-color: transparent;
    padding: 0;
    position: relative;
    bottom: 0em;
    margin: 0;
}

#terminal-output{
    position: relative;
    overflow-y: scroll;
    max-height: 98.5%;
    top: -0.2em;
    width: 102.4%;
}

#terminal-output::-webkit-scrollbar {
    background-color: black;
}

#left-game {
    max-width: 46%;
}

#right-game {
    background-size: 100% auto;
    background-repeat-y: no-repeat;
    width: 22%;
    margin-top: 15.2%;
    min-height: 65vh;
    position: relative;
    margin-left: 3%;
}

#question-statement {
    width: 93%;
}

.question-image, .question-image-origin {
    width: 30%;
}

.question-image-origin:hover + .question-image, .question-image:hover {
    display: block;
}

.question-image {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    box-shadow: var(--dark-blue) 0 0 1.5em;
    z-index: 2;
}

#player_kart, #enemy_kart{
    position: absolute;
    width: 4.5em;
}


@media screen and (max-width: 900px) {
    #game {
        flex-direction: column;
        align-items: center;
    }

    .question-image:hover {
        transform: scale(2);
    }
}

