#game {
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
}

#terminal {
    background-color: var(--black);
    color: var(--white);
    max-height: 73%;
    width: 86%;
    padding: 1em;
    margin: 0;
}

#left-game, #right-game {
    margin: 0 4%;
}

#left-game {
    max-width: 46%;
}

#right-game {
    height: 77vh;
    width: 26vw;
    background-size: cover;
    margin-top: 2vh;
}

#question-statement {
    width: 93%;
}

.question-image, .question-image-origin {
    width: 30%;
}

.question-image-origin:hover + .question-image, .question-image:hover {
    display: block;
}

.question-image {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    box-shadow: var(--dark-blue) 0 0 1.5em;
    z-index: 2;
}

@media screen and (max-width: 900px) {
    #game {
        flex-direction: column;
        align-items: center;
    }

    #right-game {
        margin-left: 0;
        margin-top: 5%;
        align-items: center;
    }

    #left-game {
        max-width: 90%;
    }

    .question-image:hover {
        transform: scale(2);
    }
}

#player_kart, #enemy_kart{
    position: absolute;
    width: 4.5em;
}
