body, html {
    margin: 10px;
    padding: 0;
}

.all_theme {
    height: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 95vw;
    margin-bottom: 10%;
}

.all_theme > .circuit {
    padding-left: 1%;
    padding-right: 1%;
    height: 80vh;
    width: fit-content;
    text-align: center;
    background: none;
    border: none;
    padding-top: 0;
    padding-bottom: 0;
    line-height: unset;
    display: none;
}

.circuit-image{
    height: 70%;
    width: fit-content;
    background-repeat:no-repeat;
    background-size: contain;
    position: relative;
}
.tour{
    height : 100%;
}

.item_choice {
    margin-bottom: 2%;
    margin-left: 1%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.button_theme{
    border: none;
    background-color: var(--light-grey);
    font-size: 1em;
    color: var(--dark-grey);
    padding: 1% 2% 1% 2%;
    text-transform: capitalize;
}

.button_theme :hover{
    opacity: 0.6;
}

h1 {
    text-align: center;
    color: #151515;
    font-size: 2em;
}

.play{
    display: none;
    background-color: var(--black-transparent);
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 2em;
    justify-content: center;
    align-items: center;
    color: var(--white);
}


.circuit:hover .play{
    display: flex;
}

@media screen and (max-width: 570px) {

}

